<!doctype html>
<html lang="en">
<head>
    <th:block th:insert="~{partials/header :: header}"></th:block>
    <title>Oasis Oaks Concierge Med</title>
</head>
<body>
<div class="page-wrapper" id="home">
    <nav th:replace="~{partials/navbar :: nav}"></nav>
    <div class="container hero-container d-flex grow">
        <h1>Your Time, Your Needs, Your Doctor...</h1>
        <h3>Oasis Oaks Concierge Medicine</h3>
        <a href="contact-us">CONTACT US</a>
    </div>
</div>
<script src="/js/partials.js"></script>
</body>
</html>