

/*Navbar Styling*/

.navbar-container {
    background-color: #506456;
    height: 23vh;
    display: flex;
    justify-content: space-between;
    padding: unset;
    margin: unset;
}
.navbar-links {
    display: flex;
    float: right;
}

.navbar-links a {
    display: none;
}

.navbar-links #navbar-call {
    color: whitesmoke;
    border: #4D8B62;
    background-color: #4D8B62;
    padding: 15px 20px;
    background-size: 10px;
    font-weight: 200;
    font-size: small;
}

.navbar-icon {
    display: block;
}

.navbar-container img {
    max-height: 24vh;
    max-width: 100%;
    float: left;
    object-fit: cover;
    padding-left: 110px;
}

/*Hero Container Styling*/

.hero-container {
    background-image: url("/static/img/oasis-oaks-concierge-med-bg.webp");
    background-size: cover;
}



/*Media Queries*/

@media (min-width: 475px) {
    .container {
        min-width: 475px;
    }
    .navbar-icon {
        display: block;
    }
}

@media (min-width: 640px) {
    .container {
        min-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        min-width: 768px;
    }
    .navbar-links {
        gap: 40px;
        align-items: center;
    }
    .navbar-links a {
        display: flex;
        flex-direction: row;
        color: whitesmoke;
        font-family: "Roboto Thin", sans-serif;
        font-size: large;
        font-weight: 100;
        justify-items: right;
        text-decoration: unset;
        padding-right: 50px;
    }

    .navbar-links a:hover {
        color: #ABCCB7;
    }
    .navbar-links #navbar-call {
        margin-right: 50px;
    }
    .navbar-icon {
        display: none;
    }
}

@media (min-width: 1024px) {
    .container {
        min-width: 1024px;
        flex-direction: row;
    }
}

@media (min-width: 1280px) {
    .container {
        min-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        min-width: 1536px;
    }
}